@font-face {
    font-family: "serif";	
    src: url(../fonts/sans/cabin/JosefinSans--Regular.ttf) format("truetype");
}

@font-face {
    font-family: "sans";	
    src: url(../fonts/sans/cabin/Cabin-Regular.ttf) format("truetype");
}

.sans{
	font-family: "sans";
}

.serif{
	font-family: "serif";
}


nav{
/*background: -webkit-linear-gradient(#3B5999, #1C3367)  !important;
background: -o-linear-gradient(#3B5999, #1C3367)  !important;
background: linear-gradient(#3B5999, #1C3367)  !important;		*/
background: -moz-linear-gradient(top,#3B5999,#1C3367)  !important;	
background: -webkit-linear-gradient(top,#3B5999,#1C3367)  !important;	
}

@media screen and (min-width: 950px){
	nav{
	/*background: -webkit-linear-gradient(#3B5999, #1C3367)  !important;
	background: -o-linear-gradient(#3B5999, #1C3367)  !important;
	background: linear-gradient(#3B5999, #1C3367)  !important;		*/
	background: -moz-linear-gradient(top,#3B5999,#1C3367)  !important;	
	background: -webkit-linear-gradient(top,#3B5999,#1C3367)  !important;	
	height: 115px;
	display: flex;
	}

	li{
		font-size: 28px;	
	}

	li a{
		font-size: 16px;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		height: 116px;
		padding-top: 50px !important;
		padding-left: 24px !important;
		padding-right: 24px !important;
	}

}


	.athena-crypto-bank{
		padding: 25px 82px;
		font-size: 36px;
	}

li a:hover{	
	background-color: -moz-linear-gradient(top,#3B5999,#1C3367)  !important;
}

body{
	/*
	background: -webkit-linear-gradient(#3B5999, #1C3367)  !important;
	background: -o-linear-gradient(#3B5999, #1C3367)  !important;
	background: linear-gradient(#3B5999, #1C3367)  !important;	*/	
	background: -moz-linear-gradient(right,#fff,#003F7F)  !important;
	background: -webkit-linear-gradient(right,#fff,#003F7F)  !important;

	padding-bottom: 77px;
}

.active{
	background: -moz-linear-gradient(top,#BB9D57,#816127)  !important;
	background: -webkit-linear-gradient(top,#BB9D57,#816127)  !important;
}

.services_firt{	
	padding: 50px;
	border-radius: 6px;
	width: 33%;
	background: rgba(85,157,229,1);
	display: inline-block;
	margin-left: -15px;
	z-index: 0;
}

.services_second{	
	padding: 50px;
	border-radius: 6px;
	width: 33%;
	background: rgba(87,168,250,1);
	display: inline-block;
	margin-left: -15px;
	z-index: 1;
}

.services_third{	
	padding: 50px;
	border-radius: 6px;
	width: 33%;
	background: rgba(9,131,254,1);
	display: inline-block;
	margin-left: -15px;
	z-index: 2;
}

@media (max-width: 768px){
	.services_firt, .services_second, .services_third{
		width: 90%;
		display: block;
		margin-left: 10%;
		margin-top: 15px;
	}
}

footer{
	position: fixed;
	height: 32px;
	padding-top: 6px;
	width: 100%;	
	background: rgba(172,172,172,0.64);
	text-align: center;
	bottom: 0px;
}

.text-home-principal{
	background-color: blue;
	width: 42%;
	z-index: ;
	border-radius: 25px;	
	position: absolute;
	height: 100%;
	top: 0px;
	right: 15px;
	background: rgba(6,65,203,0.45);

}


textarea{
	min-height: 110px;
}

.input-group-addon label{
	min-width: 70px;
}

.registrar label {	
	min-width: 160px;
}

.login label{	
	min-width: 85px;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.procesos{
	background: rgba(0,4,235,0.45);
	position: absolute;
	width: 92.5%;
	height: 40px;
	border-radius: 20px;
	color: #FFF;
	font-size: 28px;
	letter-spacing: 4px;
	margin: auto;
	top: 42%;
}

.acciones{	
	background: -moz-linear-gradient(right,#bec6ff,#003F7F)  !important;
	background: -webkit-linear-gradient(right,#bec6ff,#003F7F)  !important;
	border-radius: 100px;	
	height: 110px;
	display: flex;
	align-items: center;
	/*
	width: 20%;
	margin: 20px;
	*/
}

.font-white{
	color: white;
}

.fondo-azul{
	background-color: blue;
	border-radius: 5px;
	font-size: 10px;
}

.fondo-procesos{
	background-color: rgb(67,123,179);
	border-radius: 25px;
}


.fondo-procesos img{
	margin: auto;
}

.click-aqui{	
	background: -moz-linear-gradient(top,#1C3367,#3B5999)  !important;	
	background: -webkit-linear-gradient(top,#1C3367,#3B5999)  !important;
	height: 25px;
	display: flex;
	align-items: center;
}

.font-subtitle{
	font-size: 20px;
	padding: 36px;
}

.fondo-azul-opaco{
	background: rgb(20,78,136);
	font-size: 20px;
	padding: 28px;
}

.borde-redondeado-grande{
	border-radius: 25px;
}

.mobil-off{
	font-size: 16px;
	padding: 0px 35px;
}

@media screen and (max-width: 991px){
	.mobil-off{
		display: none;
	}
}

.font-yellow{
	color: rgb(181,142,62);
}

.font-level-info{
	font-size: 28px;
}

.font-level{
	font-size: 36px;
}

.red{
	color: red;
}

table{
	background: rgba(71,71,61,0.75);
	color: white;
}

table th{
	font-size: 24px;
	text-align: center;
}

tbody > tr:nth-of-type(odd) {
  background-color: rgba(75,57,57,0.75);
}

tr:hover{
	background-color: rgba(60,60,60,1);
}

tbody > tr:nth-of-type(odd):hover{
	background-color: rgba(60,60,60,1);	
}

input{	
	transition: 0.3s all;
}

input:focus{
	-moz-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-webkit-transform: scale(1.07);
}

select:focus{
	-moz-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-webkit-transform: scale(1.07);
}

.space-top{
	margin-top: 50px;
}