<div class="col-sm-10 col-sm-offset-1">
	<div class="row">
		<div class="col-sm-8 ">
			<div class="page-header font-white sans font-first-subtitle">
				{{ lang[0] }}
			</div>
			<div>
				<div class="text-muted font-white">
				<p class=" sans">{{ lang[1] }}</p>
				</div>
				<div class="row">
					<div class="col-sm-4">						
						<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.historia}}' class="img-responsive">
					</div>

					<div class="col-sm-7 text-justify serif">
						<p class="font-white">{{ lang[2] }}</p>
					</div>
				</div>				
			</div>
			<div class="row">
				<div class="col-sm-11">
					<div class="font-white sans text-justify serif" ng-bind-html='lang[21]' >					</div>					
				</div>
			</div>
		</div>

		<div class="col-sm-4 ">
			<div class="page-header font-white sans font-first-subtitle">
				{{ lang[3] }}
			</div>
			<div class="text-justify font-white sans">
				<p class="sans">	
					{{ lang[4] }}
				</p>
				<p class="text-justify serif">	
					{{ lang[5] }} <br>
					{{ lang[6] }}
				</p>
			</div>
		</div>
	</div>
<!--
	<div class="row">

		<div class="col-sm-8">
			<div class="row">

				<div class="col-sm-5">
					<p class="font-white sans">
						WOULD YOU LIKE A WORRY FREE FUTURE?
					</p>

					<p class="font-yellow sans">
						Planning for College
					</p>

					<p class="text-muted serif">
						Financial futures for parents often includes some type of college fund.[...]
					</p>

					<p class="font-yellow sans">
						Protecting Your Assets
					</p>

					<p class="text-muted serif">
						Find out these 3 simple steps to help protect all of your assets. [...]
					</p>					
				</div>

				<div class="col-sm-6">
						<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.calculadora}}' class="img-responsive">
				</div>
			</div>

		</div>
		<div class="col-sm-4">
			<div class="page-header text-muted sans">
				{{ lang[16] }}
			</div>
			<div class="font-white serif">
				Escala en nuestros niveles de confianza y obten beneficios increibles.
			</div>			
		</div>
	</div>
-->

	<div class="row sans">
	
		<div class="col-sm-12">
			<div class="page-header font-level font-white">{{ lang[7] }}</div>
			<div class="row font-white">	
				<div class="col-sm-12">
					<p class="font-level  sans">{{ lang[8] }}</p>					
				</div>	
				<div class="col-sm-10">
					<p class="font-subtitle  sans">{{ lang[9] }}</p>					
				</div>					
				<div class="col-sm-2">						
					<p class="niveles">
						{{ lang[20][0] }}	
					</p>
				</div>
				<div class="col-sm-12">
					<p class="font-level  sans">{{ lang[10] }}</p>					
				</div>	
				<div class="col-sm-10">
					<p class="font-subtitle  sans">{{ lang[11] }}</p>					
				</div>					
				<div class="col-sm-2">
					<p class="niveles">
						{{ lang[20][1] }}	
					</p>
				</div>
				<div class="col-sm-12">
					<p class="font-level  sans">{{ lang[12] }}</p>					
				</div>	
				<div class="col-sm-10">
					<p class="font-subtitle  sans">{{ lang[13] }}</p>					
				</div>				
				<div class="col-sm-2">
					<p class="niveles">
						{{ lang[20][2] }}	
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row font-white sans" >
		<div class="col-sm-5 font-level">
			{{ lang[14] }}
		</div>
	</div>

	<div class="row font-white sans">
		<div class="col-sm-4">
			<div class=" font-subtitle text-justify">
				{{ lang[15] }}
			</div>
			<div class=" font-subtitle">
				{{ lang[16] }}
			</div>
			<div class=" font-subtitle">
				{{ lang[17] }}
			</div>
			<div class=" font-subtitle">
				{{ lang[18] }}
			</div>
		</div>
		<div class="col-sm-4" style="margin-bottom: 30px; padding-left: 70px;">
			<div class="visible-xs">
				<br><br>
			</div>
			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.telegram}}' class="img-responsive img-telegram">
		</div>
		<div class="col-sm-4 font-white sans font-subtitle text-justify">
			{{ lang[19] }}
		</div>
	</div>		

</div>