<div class="row" ng-if="user.session">

	<div class="col-sm-4 sans alert alert-info text-center">
		<b>Hola: </b>{{ user.nombre + " " + user.apellido }}
	</div>

	<div class="col-sm-3 col-sm-offset-3">
		<a href="#/users" ng-if="user.session && user.id_tipo_usuario==1">

			<div class="alert alert-info text-center">
				<strong>Administrar Usuarios</strong>
			</div>
			
		</a>		
	</div>
	<div class="col-sm-2">
		<a href="#/exit" ng-show="user.session">
			<div class="alert alert-danger text-center">
				<strong>Cerrar Sessón</strong>
			</div>
		</a>
	</div>
</div>


<div class="row font-white sans" ng-show="user.session">
	<div class="col-sm-6 col-xs-12 fondo-procesos">
		<div class="row">
			<div class="col-xs-8">
				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.logo_grande}}' class="img-responsive">
				<span class="procesos text-center">
					MIS INVERSIONES
				</span>
			</div>

			<div class="col-xs-4 sans">
				<div >MIS INVERSIONES</div>
				<div ng-repeat="monto in montos" ng-if="monto.inversion != 0.0000000000">
					<div>{{ monto.criptomoneda }}: {{ monto.inversion }} EUROS</div>
					<div class="fondo-azul text-center">Fecha para recibir mi 10%</div>
					<div>{{ monto.fecha }}</div>					
				</div>

			</div>
		</div>
	</div>

	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-1 text-center">
				<p class="acciones sans font-white">
					QUIERO INVERTIR	
				</p>			
			</div>
			<div class="col-xs-3 text-center">
				<p class="acciones sans font-white">
					RETIRAR INVERSION
				</p>
			</div>
			<div class="col-xs-3 text-center">
				<p class="acciones sans font-white">
					NECESITAS AYUDA?
				</p>
			</div>
			<div class="row">
				<a href="#">
					<div class="col-xs-9 col-xs-offset-1 fondo-azul text-center click-aqui">
						HAZ CLICK AQUI Y DESCUBRE COMO INCREMENTAR TU INVERSION UN 12%
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row font-white sans space-top" ng-show="user.session">
	<div class="col-sm-6 col-xs-12 fondo-procesos">
		<div class="row">
			<div class="col-xs-8">
				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.logo_grande}}' class="img-responsive">
				<span class="procesos text-center">
					BANCO
				</span>
			</div>

			<div>MIS MONEDAS</div>

			<div class="col-xs-4 sans">

				<div ng-repeat="monto in montos" ng-if="monto.banco != 0.0000000000">
					{{ monto.criptomoneda }}: {{ monto.banco }}
				</div>

			</div>
		</div>
	</div>

	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-1 text-center">
				<p class="acciones">
					QUIERO DEPOSITAR	
				</p>			
			</div>
			<div class="col-xs-3 text-center">
				<p class="acciones">
					CAMBIO DE MONEDA
				</p>
			</div>
			<div class="col-xs-3 text-center">
				<p class="acciones">
					NECESITAS AYUDA?
				</p>
			</div>
			<div class="row">
				<a href="#">
					<div class="col-xs-9 col-xs-offset-1 fondo-azul text-center click-aqui">
						HAZ CLICK AQUI Y DESCUBRE COMO INCREMENTAR TU INVERSION UN 12%
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row font-white sans space-top" ng-show="user.session">
	<div class="col-sm-6 col-xs-12 fondo-procesos">
		<div class="row">
			<div class="col-xs-8">
				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.logo_grande}}' class="img-responsive">
				<span class="procesos text-center">
					COMPRA-VENTA
				</span>
			</div>

			<div class="col-xs-4 sans">				
				<div class="fondo-azul text-center space-top">
					OBTEN AL MOMENTO UN PRECIO ORIENTATIVO VIA WHATSAPP: 478637663633
				</div>
			</div>

		</div>
	</div>

	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-1 text-center">
				<p class="acciones">
					COMPRA	
				</p>			
			</div>
			<div class="col-xs-3 text-center">
				<p class="acciones">
					VENTA
				</p>
			</div>
			<div class="col-xs-3 text-center">
				<p class="acciones">
					NECESITAS AYUDA?
				</p>
			</div>
			<div class="row">
				<a href="#">
					<div class="col-xs-9 col-xs-offset-1 fondo-azul text-center click-aqui">
						HAZ CLICK AQUI Y DESCUBRE COMO INCREMENTAR TU INVERSION UN 12%
					</div>
				</a>
			</div>
		</div>
	</div>
</div>




<div class="row" ng-show="!user.session">
	<form action="">
		<div class="form-group login col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
	        <div class="input-group">
	            <span class="input-group-addon red" >*</span><span class="input-group-addon" ><label for="correo">Correo:</label></span>
	            <input type="text" name="correo" id="correo" placeholder="Correo" required="" class="form-control" ng-model="user.correo">
	       </div>
	        <div class="input-group">
	            <span class="input-group-addon red" >*</span><span class="input-group-addon" ><label for="pass">Contraseña:</label></span>
	            <input type="password" name="pass" id="pass" placeholder="Contraseña" required="" class="form-control" ng-model="user.pass">
	       </div>	
	        <button type="button" class="btn btn-primary" style="width: 100%;" ng-click="login()">
	        	<span class="glyphicon glyphicon-envelope">	        		
	        	</span> 
	        	SEND
        	</button>
		</div>
	</form>
</div>
