
	<div class="row font-white">
		<div class="col-sm-12">
			<img ng-src='{{ config.api_url + config.carpeta_imagenes + config.img.home_principal }}' style="border-radius: 25px;" class="img-responsive">
			<div class="text-home-principal text-center">	

				<p class="font-first-title sans">
					<b>{{ lang[0] | uppercase }}</b>
				</p>

				<div class="hidden-xs">
					<p class="font-first-subtitle">{{ lang[1]  | uppercase }}</p>
					<p class="font-first-subtitle">{{ lang[2]  | uppercase }}</p>
					<p class="font-first-subtitle">{{ lang[3]  | uppercase }}</p>				
				</div>

				<p class="mobil-off serif" ng-bind-html='lang[4]'>	</p>

				<div class="font-white font-subtitle sans hidden-xs">
					<span>{{ lang[5] }}</span>
					<a href="#" class="btn btn-primary " ng-click="registrar()">{{ lang[6] }}</a>
				</div>

			</div>			
		</div>
	</div>

	<br><br>
	
	<div class="fondo-azul-opaco borde-redondeado-grande visible-xs font-white text-justify agrandar" ng-bind-html="lang[18]">
		
	</div>

	<br><br>

	<div class="row">
		<div class="font-white font-subtitle sans visible-xs">
			<span>{{ lang[5] }}</span>
			<br>
			<a href="#" class="btn btn-primary " ng-click="registrar()">{{ lang[6] }}</a>
		</div>
	</div>

<!--
	<div class="row font-white"> 
		<div class="col-sm-8">				
		 	<div>CRYPTOMONEDAS</div>
			<div ng-repeat="img in config.img.criptomonedas" class="col-sm-3">
					<img ng-src='{{config.api_url + config.carpeta_imagenes + img}}' class="img-responsive img-circle">
			</div>	
		</div>
	</div>
-->


	<div class="row font-white sans"> 
		<div class="col-sm-7">				
		 	<div class="font-home-title font-white">{{ lang[7] }}</div>
		 	<div class="row">
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[0]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[1]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[2]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[3]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 	</div>
		 	<div class="row  pd-2" ">
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[4]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[5]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[6]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[7]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 	</div>
		 	<div class="row  pd-2">
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[8]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[9]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[10]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[11]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 	</div>
		 	<div class="row  pd-2">
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[12]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-3">
		 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.criptomonedas[13]}}' class="img-responsive img-circle agrandar">
		 		</div>
		 		<div class="col-xs-6 font-many-more text-muted">
		 			{{ lang[17] }}
		 		</div>
		 	</div>
		</div>

		<div class="col-xs-8 col-xs-offset-1 col-sm-4 col-sm-offset-1">			

			<div class="font-home-modalidades sans">
				{{ lang[8] }}
			</div>

			<div>
	 			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.modalidades}}' class="img-responsive img-rounded agrandar">
			</div>

			<div id="fb-root" style="padding-top: 20px;"></div>
			
			<div class="fb-page" data-href="https://www.facebook.com/AthenaCryptoBank/" data-tabs="timeline" data-width="450" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
				<blockquote cite="https://www.facebook.com/AthenaCryptoBank/" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/AthenaCryptoBank/">
						Athena CryptoBank
					</a>
				</blockquote>
			</div>		
		</div>
	</div>

	<!--	
	<div class="row font-white">
		<div ng-repeat="img in config.img.pagos" class="col-xs-4 col-sm-2">
				<img ng-src='{{config.api_url + config.carpeta_imagenes + img}}' class="img-responsive img-circle agrandar">
		</div>	
	</div>
	-->

	<div class="row sans">
		<div class="font-home-title font-white">{{ lang[9] }}</div>	
		<div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0 hidden-xs">
			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.invertir}}' class="img-responsive borde-redondeado-grande agrandar">			
		</div>

		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 fondo-azul-opaco borde-redondeado-grande font-white agrandar" >
			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.invertir}}' class="img-responsive borde-redondeado-grande visible-xs agrandar">
			<div class="serif">
				{{ lang[10] }}<br>

				{{ lang[11] }} <br>
				{{ lang[12] }}
			</div>
		</div>		
	</div>
	
	<div class="row">		
		<div class="font-home-title font-white sans">
			{{ lang[13] }}
		</div>

		<div>
			<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.cambio}}' class="img-responsive agrandar">
		</div>

		<div class="font-home-title font-white sans">
			{{ lang[14] }}
		</div>
	</div>

	<div class="row">

		<div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 fondo-azul-opaco borde-redondeado-grande font-white agrandar">

			<div style="padding-top: 15px" class="visible-xs">

				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.boveda}}' class="img-responsive borde-redondeado-grande agrandar" style="display: flex; align-self: center;">

			</div>

			<span class="serif">
				 <br>
				{{ lang[15] }}
				 <br>
				 <br>
				<p class="serif" ng-bind-html='lang[16]' ></p>
			</span>
		</div>
		
		<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
			<div style="padding-top: 15px" class="hidden-xs">

				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.boveda}}' class="img-responsive borde-redondeado-grande agrandar" style="display: flex; align-self: center;">

			</div>
		</div>
	</div>

	<div style="height: 35px;"></div>

	<div class="row">

		<h1 ng-bind-html='lang[19]' class="font-white"></h1>
		
		<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
			<div style="padding-top: 15px" class="hidden-xs">

				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.business}}' class="img-responsive borde-redondeado-grande agrandar" style="display: flex; align-self: center;">

			</div>
		</div>

		<div style="height: 35px;"></div>
		
		<div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 fondo-azul-opaco borde-redondeado-grande font-white agrandar">

			<div style="padding-top: 15px" class="visible-xs">

				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.business}}' class="img-responsive borde-redondeado-grande" style="display: flex; align-self: center;">

			</div>

			<span class="serif">
				 <br>
				{{ lang[20] }}
				 <br>
				 <br>
				<p class="serif" ng-bind-html='lang[21]' ></p>
			</span>
		</div>
		
	</div>