<div class="row" ng-if="user.session">

	<div class="col-sm-4 sans alert alert-info text-center">
		<b>Hola: </b>{{ user.nombre + " " + user.apellido }}
	</div>

	<div class="col-sm-3 col-sm-offset-3">
		<a href="#/users" ng-if="user.session && user.id_tipo_usuario==1">

			<div class="alert alert-info text-center">
				<strong>Administrar Usuarios</strong>
			</div>

		</a>
	</div>
	<div class="col-sm-2">
		<a href="#/exit" ng-show="user.session">
			<div class="alert alert-danger text-center">
				<strong>{{ lang[20] }}</strong>
			</div>
		</a>
	</div>
</div>


<div class="row font-white sans" ng-show="user.session">
	<div class="procesos-xs text-center visible-xs">{{ lang[0] }}</div>
	<div class="col-sm-6 col-xs-12 fondo-procesos">
		<div class="row">
			<div class="col-xs-8">
				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.logo_grande}}' class="img-responsive">
				<span class="procesos text-center hidden-xs">
					{{ lang[0] }}
				</span>
			</div>

			<div class="col-xs-4 sans">
				<div id="acount_inversion"><b>{{ lang[0] }}</b></div>
				<div ng-repeat="monto in montos" ng-if="monto.inversion != 0.0000000000">
					<div>{{ monto.criptomoneda }}: {{ monto.inversion }}</div>
					<div class="fondo-azul text-center">{{ lang[1] }}</div>
					<div>{{ monto.fecha }}</div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-5  col-sm-3 col-sm-offset-0 text-center circle space-acciones">
				<a href="https://t.me/athenacryptobanksupport" target="_blank">
					<p class="acciones sans font-white">
						<b>{{ lang[2] }}</b>
					</p>
				</a>
			</div>
			<div class="col-xs-5  col-sm-3 col-sm-offset-0 text-center circle space-acciones">
				<a href="https://t.me/athenacryptobanksupport" target="_blank">
					<p class="acciones sans font-white">
						{{ lang[3] }}
					</p>
				</a>
			</div>
			<div class="col-xs-5 col-sm-3 col-sm-offset-0 text-center circle space-acciones">
				<a href="https://t.me/athenacryptobanksupport" target="_blank">
					<p class="acciones sans font-white">
						{{ lang[4] }}
					</p>
				</a>
			</div>
			<div class="row">
				<a href="#">
					<div class="col-xs-9 col-xs-offset-1 fondo-azul text-center click-aqui font-white">
						{{ lang[19] }}
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row font-white sans space-top" ng-show="user.session">
	<div class="procesos-xs text-center visible-xs">{{ lang[5] }}</div>
	<div class="col-sm-6 col-xs-12 fondo-procesos">
		<div class="row">
			<div class="col-xs-8">
				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.logo_grande}}' class="img-responsive">
				<span class="procesos text-center hidden-xs">
					{{ lang[5] }}
				</span>
			</div>

			<div>{{ lang[6] }}</div>

			<div class="col-xs-4 sans">

				<div ng-repeat="monto in montos" ng-if="monto.banco != 0.0000000000">
					{{ monto.criptomoneda }}: {{ monto.banco }}
				</div>

			</div>
		</div>
	</div>

	<div class="col-sm-6 col-xs-12">
		<div class="row">

			<div class="col-xs-5  col-sm-3 col-sm-offset-0 text-center space-acciones">				
				<a href="https://t.me/athenacryptobanksupport" target="_blank">
					<p class="acciones sans font-white">
						<b>{{ lang[7] }}</b>
					</p>
				</a>
			</div>


			<div class="col-xs-5  col-sm-3 col-sm-offset-0 text-center space-acciones">
				<a href="https://t.me/athenacryptobanksupport" target="_blank">
					<p class="acciones sans font-white">
						{{ lang[8] }}
					</p>
				</a>
			</div>


			<div class="col-xs-5 col-sm-3 col-sm-offset-0 text-center space-acciones">
				<a href="https://t.me/athenacryptobanksupport" target="_blank">
					<p class="acciones sans font-white">
						{{ lang[9] }}
					</p>
				</a>
			</div>
			<div class="row">
				<a href="#">
					<div class="col-xs-9 col-xs-offset-1 fondo-azul text-center click-aqui font-white">
						{{ lang[19] }}
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row font-white sans space-top" ng-show="user.session">
	<div class="procesos-xs text-center visible-xs">{{ lang[10] }}</div>
	<div class="col-sm-6 col-xs-12 fondo-procesos">
		<div class="row">
			<div class="col-xs-8">
				<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.logo_grande}}' class="img-responsive">
				<span class="procesos text-center hidden-xs">
					{{ lang[10] }}
				</span>
			</div>

			<div class="col-xs-4 sans">
				<div class="fondo-azul text-center space-top">
					{{ lang[11] }}
				</div>
			</div>

		</div>
	</div>

	<div class="col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-xs-5  col-sm-3 col-sm-offset-0 text-center space-acciones">
				<a href="https://t.me/athenacryptobanksupport" target="_blank">
					<p class="acciones sans font-white">
						<b>{{ lang[16] }}</b>
					</p>
				</a>
			</div>
			<div class="col-xs-5  col-sm-3 col-sm-offset-0 text-center space-acciones">
				<a href="https://t.me/athenacryptobanksupport" target="_blank">
					<p class="acciones sans font-white">
						{{ lang[17] }}
					</p>
				</a>
			</div>
			<div class="col-xs-5 col-sm-3 col-sm-offset-0 text-center space-acciones">
				<a href="https://t.me/athenacryptobanksupport" target="_blank">
					<p class="acciones sans font-white">
						{{ lang[18] }}
					</p>
				</a>
			</div>
			<div class="row">
				<a href="#">
					<div class="col-xs-9 col-xs-offset-1 fondo-azul text-center click-aqui font-white">
						{{ lang[19] }}
					</div>
				</a>
			</div>
		</div>
	</div>
</div>




<div class="row" ng-show="!user.session">
	<form action="">
		<div class="form-group login col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
	        <div class="input-group">
	            <span class="input-group-addon red" >*</span><span class="input-group-addon" ><label for="correo">{{ lang[21] }} </label></span>
	            <input type="text" name="correo" id="correo" placeholder="Correo" required="" class="form-control" ng-model="user.correo">
	       </div>
	        <div class="input-group">
	            <span class="input-group-addon red" >*</span><span class="input-group-addon" ><label for="pass">{{ lang[22] }}</label></span>
	            <input type="password" name="pass" id="pass" placeholder="Contraseña" required="" class="form-control" ng-model="user.pass">
	       </div>
	        <button type="button" class="btn btn-primary" style="width: 100%;" ng-click="login()">
	        	<span class="glyphicon glyphicon-envelope">
	        	</span>
	        	SEND
        	</button>
		</div>
	</form>
</div>
