
	<div class="services_firt font-white sans text-justify font-services">
		<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.logo_grande}}' class="img-responsive">
		<br>
		<p class="sans font-services-title">{{ lang[0] }}</p>
		<br>

		<div class="visible-xs">
			<br><br><br>
		</div>
		<div class="font-services">
			<br><br>
			<p class="serif" ng-bind-html='lang[1]' ></p>
		</div>
	</div>

	<div class="services_second font-white sans text-justify font-services">
		<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.logo_grande}}' class="img-responsive">
		<br>
		<p class="sans font-services-title">{{ lang[2] }}</p>
		<br>
		<div class="visible-xs">
			<br><br><br>
		</div>
		<div class="font-services">
			<br><br>
			<p class="serif" ng-bind-html='lang[3]' ></p>
		</div>
	</div>

	<div class="services_third font-white sans text-justify font-services">
		<img ng-src='{{config.api_url + config.carpeta_imagenes + config.img.logo_grande}}' class="img-responsive">
		<br>
		<p class="sans font-services-title">{{ lang[4] }}</p>
		<br>

		<div class="visible-xs">
			<br><br><br>
		</div>
		<div class="font-services">
			<br><br>
			<p class="serif" ng-bind-html='lang[5]' ></p>
		</div>
	</div>
	
	<br><br>

	<div class="condition_first">
		<div class="condition_inside  font-white serif text-justify">
			{{ lang[7] }}
			<br><br>
			{{ lang[8] }}
			<br><br>			
			{{ lang[9] }} &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   {{ lang[10] }}
			<br><br>
			{{ lang[11] }} &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   {{ lang[12] }}
			<br><br>
			{{ lang[13] }} &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   {{ lang[14] }}
			<br><br>
			{{ lang[15] }} &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   {{ lang[16] }}
			<br><br>
			{{ lang[17] }}<br><br>
			{{ lang[18] }}
			<br><br>
			{{ lang[19] }}
			<br><br>
			{{ lang[20] }}	<br><br><br><br><br>
		</div>
	</div>
	
	<div class="condition_second">
		<div class="condition_inside font-white serif text-justify">
			{{ lang[21] }}
			<br><br>
			{{ lang[22] }}
			<br><br>
			{{ lang[23] }}
			<br><br>
			{{ lang[24] }}
			<br><br>
			{{ lang[25] }}
			<br><br>
			{{ lang[26] }}
			<br>
			{{ lang[27] }}
			<br><br>
			{{ lang[28] }}
			<br><br>	
			<br><br>	
			<br><br>	
			<br><br>	
			<br><br>	
			<br><br>	
			<br><br>	<br>
		</div>
	</div>
	
	<div class="condition_third">
		<div class="condition_inside font-white serif text-justify">
			{{ lang[29] }}
			<br><br>
			{{ lang[30] }}
			<br><br>
			{{ lang[31] }}
			<br><br>
			{{ lang[32] }}
			<br><br>
			{{ lang[33] }}
			<br><br>
			{{ lang[34] }} 
			<br>	
			{{ lang[35] }} 
			<br><br>
			{{ lang[36] }} 		
			<br><br>
			{{ lang[37] }}
		</div>
	</div>