@font-face {
    font-family: "serif";
    src: url(../fonts/sans/Josefin_Sans/JosefinSans-Regular.ttf) format("truetype");
}



@font-face {
    font-family: "sans";
    src: url(../fonts/sans/cabin/Cabin-Regular.ttf) format("truetype");
}

.sans{
	font-family: "sans";
}

#acount_inversion {
    font-size: 12px;
}

.serif{
	font-family: "serif";
}

nav{
/*background: -webkit-linear-gradient(#3B5999, #1C3367)  !important;
background: -o-linear-gradient(#3B5999, #1C3367)  !important;
background: linear-gradient(#3B5999, #1C3367)  !important;		*/
background: -moz-linear-gradient(top,#3B5999,#1C3367)  !important;
background: -webkit-linear-gradient(top,#3B5999,#1C3367)  !important;
}

@media screen and (min-width: 950px){
	nav{
	/*background: -webkit-linear-gradient(#3B5999, #1C3367)  !important;
	background: -o-linear-gradient(#3B5999, #1C3367)  !important;
	background: linear-gradient(#3B5999, #1C3367)  !important;		*/
	background: -moz-linear-gradient(top,#3B5999,#1C3367)  !important;
	background: -webkit-linear-gradient(top,#3B5999,#1C3367)  !important;
	height: 115px;
	display: flex;
	}

	li{
		font-size: 28px;
	}

	.navbar-nav li a{
		font-size: 16px;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		height: 116px;
		padding-top: 50px !important;
		padding-left: 24px !important;
		padding-right: 24px !important;
	}

}


	.athena-crypto-bank{
		padding: 25px 40px;
		font-size: 44px;
	}

@media screen and (max-width: 768px) {
	.athena-crypto-bank{
		padding: 25px 40px;
		font-size: 20px;
	}	
}

li a:hover{
	background-color: -moz-linear-gradient(top,#3B5999,#1C3367)  !important;
}

html{
	/*
	background: -webkit-linear-gradient(#3B5999, #1C3367)  !important;
	background: -o-linear-gradient(#3B5999, #1C3367)  !important;
	background: linear-gradient(#3B5999, #1C3367)  !important;	*/
	background: -moz-linear-gradient(right,#e5e5ff,#003F7F)  !important;
	background: -webkit-linear-gradient(right,#e5e5ff,#003F7F)  !important;
	padding-bottom: 77px;
}

body{
	/*
	background: -webkit-linear-gradient(#3B5999, #1C3367)  !important;
	background: -o-linear-gradient(#3B5999, #1C3367)  !important;
	background: linear-gradient(#3B5999, #1C3367)  !important;	*/
	background: -moz-linear-gradient(right,#e5e5ff,#003F7F)  !important;
	background: -webkit-linear-gradient(right,#e5e5ff,#003F7F)  !important;
	padding-bottom: 77px;
}

.active{
	background: -moz-linear-gradient(top,#BB9D57,#816127)  !important;
	background: -webkit-linear-gradient(top,#BB9D57,#816127)  !important;
}

.font-services{
	font-size: 12px;
}

.font-services-title{
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.services_firt{
	padding: 50px;
	border-radius: 6px;
	width: 33%;
	/*background: rgba(85,157,229,1);*/
	background-image: url("../img/servicios1.1.png");
	display: inline-block;
	margin-left: -15px;
	z-index: 0;
}

.services_second{
	padding: 50px;
	border-radius: 6px;
	width: 33%;
	/*background: rgba(87,168,250,1);*/
	background-image: url("../img/servicios1.2.png");
	display: inline-block;
	margin-left: -15px;
	z-index: 1;
}

.services_third{
	padding: 50px;
	border-radius: 6px;
	width: 33%;
	/*background: rgba(9,131,254,1);*/
	background-image: url("../img/servicios1.3.png");
	display: inline-block;
	margin-left: -15px;
	z-index: 2;
}

.condition_first{	
	padding: 15px;
	border-radius: 6px;
	width: 33%;
	/*background: rgba(85,157,229,1);*/
	/*background-color: #f2c325;	*/
	background-image: url("../img/servicios2.png");
	display: inline-block;
	margin-left: -15px;
	transition: 0.86s all;
	z-index: 0;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.condition_second{	
	padding: 15px;
	border-radius: 6px;
	width: 33%;
	/*background: rgba(85,157,229,1);*/
	/*background-color: #f2c325;	*/
	background-image: url("../img/servicios2.png");
	display: inline-block;
	margin-left: -15px;
	transition: 0.86s all;
	z-index: 0;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.condition_third{	
	padding: 15px;
	border-radius: 6px;
	width: 33%;
	/*background: rgba(85,157,229,1);*/
	/*background-color: #f2c325;	*/
	background-image: url("../img/servicios2.png");
	display: inline-block;
	margin-left: -15px;
	transition: 0.86s all;
	z-index: 0;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.condition_inside{
	background: #c57510;
	padding: 10px;
	border-radius: 6px;
	min-height: 740px;
	transition: 0.56s all;
	-webkit-transition: 0.56s all;
	animation-timing-function: linear;
}

.condition_first:hover, .condition_second:hover, .condition_third:hover, .condition_inside:hover{
	background: #f57710;
}

@media (max-width: 768px){
	.services_firt, .services_second, .services_third{
		width: 90%;
		display: block;
		margin-left: 10%;
		margin-top: 15px;
	}
}

footer{
	position: fixed;
	height: 32px;
	padding-top: 6px;
	width: 100%;
	background: rgba(172,172,172,0.64);
	text-align: center;
	bottom: 0px;
}

.text-home-principal{
	background-color: blue;
	width: 42%;
	z-index: ;
	border-radius: 25px;
	position: absolute;
	height: 100%;
	top: 0px;
	right: 15px;
	background: rgba(6,65,203,0.45);

}


textarea{
	min-height: 110px;
}

.input-group-addon label{
	min-width: 70px;
}

.registrar label {
	min-width: 160px;
}

.login label{
	min-width: 85px;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.procesos{
	background: rgba(0,4,235,0.45);
	position: absolute;
	width: 92.5%;
	height: 40px;
	border-radius: 20px;
	color: #FFF;
	font-size: 23px;
	letter-spacing: 4px;
	margin: auto;
	top: 42%;
}

.procesos-xs{
	background: rgba(0,4,235,0.45);
	width: 92.5%;
	height: 40px;
	border-radius: 20px;
	color: #FFF;
	font-size: 23px;
	letter-spacing: 4px;
	margin: auto;
	top: 42%;
}


.acciones{
	background: -moz-linear-gradient(right,#bec6ff,#003F7F)  !important;
	background: -webkit-linear-gradient(right,#bec6ff,#003F7F)  !important;
	border-radius: 100px;
	height: 145px;
  	width: 145px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	/*
	width: 20%;
	margin: 20px;
	*/
}

.space-acciones{
	margin:0.8em;
}

.font-white{
	color: white;
}

.fondo-azul{
	background-color: blue;
	border-radius: 5px;
	font-size: 11px;
  color: #00fcfe;
}

.fondo-procesos{
	background-color: rgb(67,123,179);
	border-radius: 25px;
}


.fondo-procesos img{
	margin: auto;
}

.click-aqui{
	/*background: -moz-linear-gradient(top,#1C3367,#3B5999)  !important;
	background: -webkit-linear-gradient(top,#1C3367,#3B5999)  !important;*/
  background: linear-gradient(to bottom,#00007f,#125ca6);

	height: 50px;
	display: flex;
	align-items: center;
}

.font-subtitle{
	font-size: 20px;
}

.fondo-azul-opaco{
	background: rgb(20,78,136);
	font-size: 20px;
	padding: 28px;
}

.borde-redondeado-grande{
	border-radius: 25px;
}

.mobil-off{
	font-size: 16px;
	padding: 0px 35px;
}

@media screen and (max-width: 991px){
	.mobil-off{
		display: none;
	}
}

.font-yellow{
	color: rgb(181,142,62);
}

.font-level-info{
	font-size: 28px;
}

.font-level{
	font-size: 36px;
}

.red{
	color: red;
}

.table{
	background: rgba(71,71,61,0.75);
	color: white;
	margin-bottom: 125px;
}

.table th{
	font-size: 24px;
	text-align: center;
}

.table tbody > tr:nth-of-type(odd) {
  background-color: rgba(75,57,57,0.75);
}

.table tr:hover{
	background-color: rgba(60,60,60,1);
}

.table tbody > tr:nth-of-type(odd):hover{
	background-color: rgba(60,60,60,1);
}

input{
	transition: 0.3s all;
}

input:focus{
	-moz-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-webkit-transform: scale(1.07);
}

select:focus{
	-moz-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-webkit-transform: scale(1.07);
}

.space-top{
	margin-top: 50px;
}

.lang{
 	list-style-type:none;
	position: absolute; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 0; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.lang ul{
}
.lang li{
 	padding-top: 8px;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.niveles{
	background: -moz-linear-gradient(right,#2dd7b2,#57d5db)  !important;
	background: -webkit-linear-gradient(right,#2dd7b2,#57d5db)  !important;
	border-radius: 150px;
	height: 125px;
	display: flex;
	align-items: center;
	text-align: center;
	align-self: center;
	font-size: 16px;
	padding: 25px;
	/*
	width: 20%;
	margin: 20px;
	*/
}

@media screen and (min-width: 950px){
	.font-many-more{
	font-size: 20px;
	}
}

.font-many-more{
	font-size: 35px;
}


.font-home-title{
	font-size: 40px;
	padding: 56px 0;
}

.font-first-title{
	font-size: 34px;
	padding: 24px 0 0;
}
.font-first-subtitle{
	font-size: 32px;
	padding: 0;
}

.img-telegram{
	min-height: 213px;
}

.font-home-modalidades{
	font-size: 24px;
	padding: 56px 0;
}

.pd-1{
	padding-top: 1em;
}
.pd-2{
	padding-top: 2em;
}
.pd-3{
	padding-top: 3em;
}

.accessDenied{
	font-size: 4rem;
}

.contact-mail{	
	border-radius: 5px;
	color: #d9d5f1;
	border-top: 2px solid;
	-webkit-transition: 0.56s all;
	transition: 0.56s all;
}

.contact-mail:hover{
	border-top-style: none;
	border-top: 10px solid;
}

